.error-message {
    background-color: firebrick;
    color: white;
    border-radius: 10px;
    margin-top: 1em;
    padding: 0.5em;
}

.card {
    background-color: rgb(221, 221, 221);
    margin: 0.3em;
}

.grade {
    float: right;
}

.good-grade {
    color: green;
}

.bad-grade {
    color: red;
}